# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
ENV/
.env

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
